extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Noelia Vaz

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | Hello! Welcome to my portfolio, an example of my growing skills with JavaScript, HTML, CSS, Node, and other front-end services.
            | I am only a student, so I do not have much of a background, but I am self-taught with AngularJS, and have been able to quickly grow my development skills with the Treehouse TechDegree.
            | I believe that with these skills, and my future education with Computer Science, I will be greatly prepared for an exciting position in the ever-growing tech industry.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express
          li JavaScript
          li jQuery
          li CSS
          li HTML
          li AngularJS
          li Object-Oriented Programming
          li Regular Expressions
          li Java
          li API Requests
          li Node
        h6 Contact Info

        //- Add your own contact info
        ul
          li 555-555-6789
          li noeliavaz614@gmail.com

        a.button.expanded(href='https://www.linkedin.com/' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/nlvaz' target="_blank") GitHub
        a.button.expanded(href='https://twitter.com/' target="_blank") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
